{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react-dom",
    "^next",
    "^next-intl",
    "<THIRD_PARTY_MODULES>",
    "^@/core/(.*)$",
    "^@/shared/(.*)$",
    "^@/features/(.*)$",
    "^[./]"
  ],
  "plugins": []
}
